<div id="story-container" class="fade-out fade-in p-4 bg-gray-50">
    <div id="story-data">
        {{block "story-detail-view" .}}
        <div class="flex">
            <div class="grow">
                <time>{{ .Story.StartTime }}</time>
                <h1 class="mb-2 text-lg font-semibold text-gray-900">{{ .Story.Title }}</h1>
            </div>
            <div>{{ .Story.Creator }}</div>
        </div>
        {{ if .Story.IsStoryOwner }}
            <button
                hx-delete="/story/{{ .Story.ID }}"
                class="rounded-lg text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 px-2.5 py-2 mr-2 mb-2 focus:outline-none inline-flex items-center">
                Delete
                {{template "spinner-delete"}}
            </button>
            <button
                hx-get="/view/story/{{ .Story.ID }}/edit"
                hx-target="#story-data"
                class="rounded-lg text-white bg-blue-700 hover:bg-blue-800 4focus:ring-4 focus:ring-blue-300 px-2.5 py-2 mr-2 mb-2 focus:outline-none inline-flex items-center">
                Edit
                {{template "spinner-submit"}}
            </button>
        {{end}}
        <p class="mb-3 font-normal text-gray-700">{{ .Story.Description }}</p>
        {{end}}
    </div>
    <div id="story-tasks" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 mb-3 gap-1">
        {{ range .Tasks }}
            {{template "task-list-element-view.html" .}}
        {{ end }}
    </div>
    <button
        hx-get="/view/story" hx-target="#content"
        class="rounded-lg text-white bg-blue-700 hover:bg-blue-800 4focus:ring-4 focus:ring-blue-300 px-2.5 py-2 mr-2 mb-2 focus:outline-none inline-flex items-center"
    >
        Back
    </button>
</div>

{{define "story-detail-edit"}}
    <div class="grid grid-cols-1 gap-y-2 divide-y divide-slate-400">
        <form id="edit-story-form" hx-put="/story/{{ .ID }}" hx-target="#story-data" hx-indicator="#create-story-spinner">
            {{template "story-form-inputs" .}}
            <script>
                htmx.on('#edit-story-form', 'htmx:configRequest', function(evt) {
                    evt.detail.parameters.time = new Date(evt.detail.parameters.time).getTime() / 1000;
                });
            </script>
        </form>
    </div>
    <div>
        <h1 class="mb-2 text-lg font-semibold text-gray-900">Add Task to Story</h1>
        <form hx-post="/story/{{ .ID }}/task" hx-target="#story-tasks" hx-swap="beforeend" hx-indicator="#create-task-spinner">
            {{template "task-form-inputs" .}}
        </form>
        <script>
            htmx.on('#tasks-slots', 'input', function(evt) {
                htmx.find("#slot-amount").textContent = evt.target.value;
            });
        </script>
    </div>
    <div>
        <button
            type="submit"
            hx-target="#story-data"
            class="rounded-lg text-white bg-blue-700 hover:bg-blue-800 4focus:ring-4 focus:ring-blue-300 px-2.5 py-2 mr-2 mb-2 focus:outline-none inline-flex items-center"
        >
            Save
            {{template "spinner-submit" "create-story-spinner"}}
        </button>
        <button
            hx-get="/story/{{ .ID }}"
            hx-target="#story-container"
            class="rounded-lg text-white bg-blue-700 hover:bg-blue-800 4focus:ring-4 focus:ring-blue-300 px-2.5 py-2 mr-2 mb-2 focus:outline-none inline-flex items-center"
        >
            Cancel
        </button>
    </div>
{{end}}