{{define "task-list-element-base"}}
<div
    id="task-element-{{ .ID }}"
    class="fade-out fade-in my-1 p-2.5 w-full bg-white border border-gray-200 rounded-lg shadow"
>
    <div class="flex">
        <span class="font-semibold text-gray-900 grow">
            {{ .Name }}&nbsp;
            {{ .SlotsAssigned }}/{{ .SlotsTotal }}
        </span>
        {{ if .IsStoryOwner }}
            <button
                hx-delete="/task/{{ .ID }}"
                hx-target="#task-element-{{ .ID }}"
                hx-swap="outerHTML swap:0.5s"
                class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 px-1 focus:outline-none inline-flex items-center"
            >
                Delete
                {{template "spinner-delete"}}
            </button>
        {{end}}
    </div>
    <div>{{ .Description }}</div>
    {{ if .IsStoryOwner }}
        {{ range .AssignmentList }}
            <div>{{ .AssigneeName }}</div>
        {{ end }}
    {{ end }}
    {{ if .IsUserLoggedIn }}
        {{block "template-controls" .}}{{end}}
    {{ end }}
</div>
{{end}}

{{define "button-join"}}
<button
    hx-put="/task/{{.ID}}" hx-vals='{"action": "join"}' hx-target="#task-element-{{ .ID }}" hx-swap="outerHTML"
    class="text-sm uppercase items-center p-1 text-white bg-blue-700 hover:bg-blue-800 4focus:ring-4 focus:ring-blue-300 focus:outline-none inline-flex items-center"
>
    Join
</button>
{{end}}

{{define "button-leave"}}
<button
    hx-put="/task/{{.ID}}" hx-vals='{"action": "leave"}' hx-target="#task-element-{{ .ID }}" hx-swap="outerHTML"
    class="text-sm uppercase items-center p-1 text-white bg-blue-700 hover:bg-blue-800 4focus:ring-4 focus:ring-blue-300 focus:outline-none inline-flex items-center"
>
    Leave
</button>
{{end}}
